# Archivos de datos del sistema
clientes.csv
db.sqlite3

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración del entorno virtual
venv/
.env
.env
.env.*
__pycache__/

*.backup
*.sql
*_backup.py
settings copy.py
*.xlsm